*{
    margin: 0;
    padding: 0;

}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: gray;
	color:yellow;
	/*comentário text-decoration: none;*/
	
}
.navbar {
	display: flex;
    align-items: center;
}
.menu {
    display: flex;
}

#sf {
	list-style: none;
	margin: 1.5rem;
    
	
}
#ro {
	list-style: none;
	margin: 1.5rem;
	
}
#sm {
    list-style: none;
	margin: 1.5rem;
}
#di {
    list-style: none;
    margin: 1.5rem;
}

#so {
    list-style: none;
    margin: 1.5rem;
    margin-right: 100px;
}
a{
	text-decoration: none;
	color: white;
}

.logo {
	padding: 1rem;
}
.navbar {
	display: flex;
}

#f1{
    width: 1500px;
    height: 400px;
}
#f2{
    width: 1500px;
    height: 400px;
}
#f3{
    width: 1500px;
    height: 400px;
}

.carrosel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
    
}
.carrosel ul{
    display: flex;
    list-style: none;
    width: 3600px;
    height: 400px;

}
.carrosel li{
    position: relative;
    animation: slide 15s infinite ease-out;
}
@keyframes slide {
    0%{left: 0px}
    20%{left: 0px}    
    30%{left: -1540px}
    50%{left: -1540px}
    60%{left: -3080px}
    90%{left: -3080px}
    100%{left: 0px}
}

